<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caremate.lifeguardian.report.mapper.ReportMapper">

    <!-- 리포트 생성 -->
    <insert id="insertCustomerReport" parameterType="CustomerReportInsertDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer_report(
            customer_id,
            conversion_status_code,
            action_item_id,
            report_type_code,
            webform_response_id,
            report_url,
            send_status_code
        )

        VALUES (
                   #{customerId},
                   #{conversionStatusCode},
                   #{actionItemId},
                   #{reportTypeCode},
                   #{webformResponseId},
                   #{reportUrl},
                   #{sendStatusCode}
               )
    </insert>

    <!-- 액션아이템 추가 -->
    <insert id="insertActionItem" parameterType="insertActionItemDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO daily_action_item (
            sales_user_id,
            customer_id,
            trigger_type_code,
            priority_score,
            target_date,
            conversion_status_code
        )
        VALUES (
                   #{currentUserId},
                   #{customerId},
                   #{triggerTypeCode},
                   #{priorityScore},
                   #{targetDate},
                   #{conversionStatusCode}
               )
    </insert>


</mapper>
